header{
    display:flex;
    justify-content: space-between;
    background-color: #212325;
    border-bottom: 10px solid #0b1622;
    padding: 10px 20px;
    
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
     content: "";
     background-color: #FF0440;
     width: 10px;
     height: 10px;
     margin-right: 10px;
     
}

 #button {
    display: inline-block;
    background-color: #097AFF;
    box-shadow: 5px  5px 0px #0b1622;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms cubic-bezier(0.3, -0.21, 0.69, 2.52), opacity 0.7ms ease-in-out;
    
 }

#button:hover {
    background-color: #FF0440;
    transform: scale(1.08);
    
}
 



