
.button {
   display: inline-block;
   background-color: #097AFF;
   box-shadow: 5px  5px 0px #0b1622;
   padding: 18px 20px;
   margin-right: 0;
   transition: transform 100ms cubic-bezier(0.3, -0.21, 0.69, 2.52), opacity 0.7ms ease-in-out;
   font-size: 20px;
   color: #FFF;
   text-decoration: none;
}

.button:hover {
   background-color: #FF0440;
   transform: scale(1.08);
   
}